<!-- <div class="modal fade" id="userInfo" tabindex="-1" role="dialog" aria-labelledby="userInfoLabel" aria-hidden="true"> -->
<!-- <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userInfoLabel">Información del Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div> -->
<div>
    <mat-tab-group (selectedTabChange)="tabSelected($event)">
        <mat-tab label="Perfil">
            <div class="container d-flex justify-content-center" *ngIf="loading['userInfo'] || loading['savingUI']">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>
            <div class="container" *ngIf="!loading['userInfo'] && !loading['savingUI'] && userInfo['user_fields']">
                <div class="text-center p-2 pt-4">
                    <mat-form-field class="formInfo">
                        <input matInput [(ngModel)]="userInfo['name']" placeholder="Nombre" #name>
                    </mat-form-field>
                    <ng-container *ngIf="loading['name']">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                    </ng-container>
                    <ng-container *ngIf="!loading['name']">
                        <button mat-icon-button color="accent" (click)="userInfo['name'] = originalUserInfo['name']" [disabled]="!(originalUserInfo['name'] != userInfo['name'])">
                                        <mat-icon>close</mat-icon>
                                    </button>
                        <button mat-icon-button color="primary" (click)="saveUserInfo('name')" [disabled]="!(originalUserInfo['name'] != userInfo['name'])">
                                        <mat-icon>save</mat-icon>
                                    </button>
                    </ng-container>
                    <br>
                    <mat-form-field class="formInfo">
                        <input matInput [(ngModel)]="userInfo['email']" placeholder="Correo" #email pattern="^(.)+@(.)+\.(.)+$">
                    </mat-form-field>
                    <ng-container *ngIf="loading['email']">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                    </ng-container>
                    <ng-container *ngIf="!loading['email']">
                        <button mat-icon-button color="accent" (click)="userInfo['email'] = originalUserInfo['email']" [disabled]="!(originalUserInfo['email'] != userInfo['email'])">
                                        <mat-icon>close</mat-icon>
                                    </button>
                        <button mat-icon-button color="primary" (click)="saveUserInfo('email')" [disabled]="!isValid(email) && !(originalUserInfo['email'] != userInfo['email'])">
                                        <mat-icon>save</mat-icon>
                                    </button>
                    </ng-container>
                    <br>
                    <mat-form-field class="formInfo">
                        <mat-label>Idioma Usuario</mat-label>
                        <mat-select (selectionChange)="selectedLang($event)" [value]="userInfo['user_fields']['idioma_cliente']">
                            <ng-container *ngFor="let lang of idiomas">
                                <mat-option [value]="lang['lang']">
                                    {{ lang['idioma'] }}
                                </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="loading['phone_number']">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                    </ng-container>
                    <ng-container *ngIf="!loading['lang']">
                        <button mat-icon-button color="accent" (click)="userInfo['user_fields']['idioma_cliente'] = originalUserInfo['user_fields']['idioma_cliente']" [disabled]="!(originalUserInfo['user_fields']['idioma_cliente'] != userInfo['user_fields']['idioma_cliente'])">
                                        <mat-icon>close</mat-icon>
                                    </button>
                        <button mat-icon-button color="primary" (click)="saveUserInfo('user_fields')" [disabled]="!(originalUserInfo['user_fields']['idioma_cliente'] != userInfo['user_fields']['idioma_cliente'])">
                                        <mat-icon>save</mat-icon>
                                    </button>
                    </ng-container>
                    <br>
                    <mat-form-field class="formInfo">
                        <input matInput [(ngModel)]="userInfo['phone']" placeholder="Teléfono" #phone pattern="^(\\+){1}[1-9]\\d{10,14}$">
                    </mat-form-field>
                    <ng-container *ngIf="loading['phone_number']">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                    </ng-container>
                    <ng-container *ngIf="!loading['phone_number']">
                        <button mat-icon-button color="accent" (click)="userInfo['phone'] = originalUserInfo['phone']" [disabled]="!(originalUserInfo['phone'] != userInfo['phone'])">
                                        <mat-icon>close</mat-icon>
                                    </button>
                        <button mat-icon-button color="primary" (click)="saveUserInfo('phone_number')" [disabled]="!isValid(phone) && !(originalUserInfo['phone'] != userInfo['phone'])">
                                        <mat-icon>save</mat-icon>
                                    </button>
                    </ng-container>
                    <br>
                    <mat-form-field class="formInfo">
                        <input matInput [(ngModel)]="userInfo['user_fields']['whatsapp']" placeholder="Whatsapp" #whatsapp pattern="^(\\+){1}[1-9]\\d{10,14}$">
                    </mat-form-field>
                    <ng-container *ngIf="loading['whatsapp']">
                        <mat-progress-bar mode="buffer"></mat-progress-bar>
                    </ng-container>
                    <ng-container *ngIf="!loading['whatsapp']">
                        <button mat-icon-button color="accent" (click)="userInfo['user_fields']['whatsapp'] = originalUserInfo['user_fields']['whatsapp']" [disabled]="!(originalUserInfo['user_fields']['whatsapp'] != userInfo['user_fields']['whatsapp'])">
                                        <mat-icon>close</mat-icon>
                                    </button>
                        <button mat-icon-button color="primary" (click)="saveUserInfo('user_fields')" [disabled]="!isValid(whatsapp) && !(originalUserInfo['user_fields']['whatsapp'] != userInfo['user_fields']['whatsapp'])">
                                        <mat-icon>save</mat-icon>
                                    </button>
                    </ng-container>

                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span [matBadge]="rsvHistory.length" matBadgeOverlap="false">Reservas</span>
            </ng-template>
            <div class="container d-flex justify-content-center" *ngIf="loading['rsvHistory']">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>
            <div class="container p-2" style="max-height: 465px; overflow: auto;" *ngIf="!loading['rsvHistory']">
                <div class="alert alert-primary" role="alert" *ngIf="rsvHistory.length == 0">
                    Este cliente no cuenta con reservas en CyC
                </div>
                <ul class="p-0" *ngIf="rsvHistory.length > 0">
                    <li class="d-flex justify-content-lg-between m-1" *ngFor="let r of rsvHistory">
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>{{ r.ml }}
                            </mat-chip>
                            <mat-chip style='width:120px; font-size: xx-small;' [color]="r.st == 'R' ? 'success' : r.st == 'Q' ? 'alert' : r.st == 'Exp' ? 'warn' : 'danger'" selected>{{ r.services }}</mat-chip>
                            <mat-chip [color]="'primary'" selected><a style="color: white" href="https://cyc-oasishoteles.com/#/rsv2/{{r.ml}}" target="_blank">Ver Rsva</a></mat-chip>
                        </mat-chip-list>

                    </li>
                </ul>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>
<!-- </div>
    </div> -->
<!-- </div> -->