<mat-toolbar color="primary" id='topMenu'>
    <mat-toolbar-row>

        <button mat-icon-button [routerLink]="[_wa.lastUrl]" aria-label="Example icon-button with a menu" *ngIf="_init.currentUser && isChat(_route.url) && tipo == ''">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span *ngIf="tipo == ''">{{ isChat(_route.url) ? _wa.chatInfo['requester'] : _wa.title }}</span>
        <span *ngIf="tipo != ''">{{ tipo == 'conv' ? _wa.title : (_wa.chatInfo['requester'] ? _wa.chatInfo['requester'] : 'Sin Conversacion') }}</span>
        <span class="example-spacer"></span>
        <mat-icon class="text-success" aria-hidden="false" aria-label="Example heart icon" (click)="logout()" *ngIf="_token.token && (tipo == '' || tipo == 'chat')">person</mat-icon>
        <mat-icon class="" aria-hidden="false" aria-label="Example delete icon" (click)="login()" *ngIf="!_token.token && (tipo == '' || tipo == 'chat')">person_outline</mat-icon>
        <mat-icon [matMenuTriggerFor]="moreConv" *ngIf="_token.token && isChat(_route.url) && tipo == ''">more_vert</mat-icon>
        <mat-icon [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="_init.currentUser && !isChat(_route.url) && tipo == ''">more_vert</mat-icon>
        <mat-icon [matMenuTriggerFor]="moreConv" *ngIf="_token.token && tipo == 'chat'">more_vert</mat-icon>
        <mat-icon [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="_init.currentUser && tipo == 'conv'">more_vert</mat-icon>



    </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar *ngIf="_wa.loading" mode="buffer"></mat-progress-bar>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="setFilter(2)">
        <mat-icon>speaker_notes</mat-icon>
        <span>Mis Conversaciones</span>
    </button>
    <button mat-menu-item (click)="setFilter(0)">
        <mat-icon>speaker_notes_off</mat-icon>
        <span>Conversacioens sin asignar</span>
    </button>
    <button mat-menu-item (click)="setFilter(1)">
        <mat-icon>all_inbox</mat-icon>
        <span>Todas las conversaciones</span>
    </button>
</mat-menu>

<mat-menu #moreConv="matMenu">
    <!-- <button mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cotizar</span>
    </button> -->
    <button mat-menu-item (click)="info()">
        <mat-icon>info</mat-icon>
        <span>Info Cliente</span>
    </button>
    <button mat-menu-item (click)="assign()">
        <mat-icon>sync_alt</mat-icon>
        <span>Reasignar</span>
    </button>
    <button mat-menu-item data-toggle="modal" data-target="#closeTicketModal">
        <mat-icon>unsubscribe</mat-icon>
        <span>Cerrar Ticket</span>
    </button>
    <mat-divider></mat-divider>
    <mat-list>

        <div class='p-3' style="width: 100%">
            <div class="d-flex justify-content-between" style="width: 100%; font-size: small;">
                <p>Ticket:</p>
                <p><a href="https://oasishoteles.zendesk.com/agent/tickets/{{_wa.chatInfo['ticketId']}}" target="_blank">#{{ _wa.chatInfo['ticketId'] }}</a></p>
            </div>
            <div class="d-flex justify-content-between" style="width: 100%; font-size: small;">
                <p>Asig:</p>
                <p class='text-primary'>{{ _wa.chatInfo['agentName'] }}</p>
            </div>
        </div>

    </mat-list>
</mat-menu>
<app-info-cliente></app-info-cliente>
<app-assign-ticket></app-assign-ticket>