<app-navbar></app-navbar>
<div [ngClass]="{'whiteBg': isList(_route.url), 'parentWindow': !isList(_route.url)}" *ngIf="_token.token">
    <!-- NavBar -->
    <div class="mainWindow">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="goToBottomButton d-flex justify-content-end pr-3" *ngIf="_token.token && !isList(_route.url) && !_wa.bottomFlag">
    <button mat-fab [matBadge]="_wa.newMsgs" [matBadgeHidden]="_wa.newMsgs <= 0" matBadgeColor="warn" matBadgePosition="above" matBadgeOverlap="true" (click)="goBottom()" color="primary" aria-label="Example icon-button with a heart icon">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
</div>
<div class="footerComponent" *ngIf="_token.token && !isList(_route.url)"></div>
<app-login></app-login>
<app-logout></app-logout>