.parentWindow {
    background-image: url("/assets/wabg.png");
    background-size: contain;
    height: 100%;
    overflow: hidden;
}

.mainWindow {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    overflow: hidden;
    padding-bottom: 90px;
}

.whiteBg {
    background-color: #f9f9f9 !important;
    height: 100%;
    overflow: hidden;
}

.footerComponent {
    background-color: crimson;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
}

.goToBottomButton {
    position: fixed;
    bottom: 65px;
    width: 100%;
    height: 75px;
    z-index: 1000;
}