<div class="container p-0 m-0 staticBg">
    <a href="#bottomTgt" id="link" hidden>Link</a>
    <div class="container p-0 m-0" style="padding-bottom: 5rem!important; min-height: 660px; overflow: hidden" [style.height.px]="chatHeight" id="chatWdw">

        <div class="cht" (scroll)="onScroll($event)" [style.height.px]="windowHeight" id="chatWindowCyc">
            <ng-container>
                <ng-container *ngFor="let d of _wa.chatMsgs | keys">
                    <div class="d-flex justify-content-center">
                        <div class="dayDivider">{{ d }}</div>
                    </div>
                    <div [ngClass]="{'inMsg': c['isIn'] == 1, 'outMsg': c['isIn'] == 0}" *ngFor="let c of _wa.chatMsgs[d]">

                        <div class="msgFrame pr-4" *ngIf="c['attachments'].length > 0">
                            <div class="p-0 m-0 d-flex justify-content-center" [ngSwitch]="c['attachments'][0]['content_type']">
                                <div *ngSwitchCase="'image/jpeg'">
                                    <img (click)="_img.openImage(c['attachments'][0]['content_url'])" [src]="c['attachments'][0]['thumbnails'][0]['content_url']" alt="attachment" [height]="c['attachments'][0]['thumbnails'][0]['height']" [width]="c['attachments'][0]['thumbnails'][0]['width']">
                                </div>
                                <div *ngSwitchCase="'image/png'">
                                    <img (click)="_img.openImage(c['attachments'][0]['content_url'])" [src]="c['attachments'][0]['thumbnails'][0]['content_url']" alt="attachment" [height]="c['attachments'][0]['thumbnails'][0]['height']" [width]="c['attachments'][0]['thumbnails'][0]['width']">
                                </div>
                                <div class="mr-auto" *ngSwitchCase="'audio/ogg'">
                                    <mat-basic-audio-player [audioUrl]="c['attachments'][0]['content_url']" title="audio" [displayTitle]="false" [displayVolumeControls]="false"></mat-basic-audio-player>
                                </div>
                                <div class="mr-auto" *ngSwitchCase="'audio/mpeg'">
                                    <mat-basic-audio-player [audioUrl]="c['attachments'][0]['content_url']" title="audio" [displayTitle]="false" [displayVolumeControls]="false"></mat-basic-audio-player>
                                </div>
                                <div *ngSwitchCase="'application/pdf'">
                                    <a [href]="c['attachments'][0]['content_url']" target="_blank"><img src="/assets/pdf.png" width="65"></a>
                                </div>
                                <div *ngSwitchDefault>
                                    <span class="font-weight-light font-italic">Archivo no soportado ({{c['attachments'][0]['content_type']}})</span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="msgFrame" *ngIf="c['plain'] != 'The user has sent an attachment'">{{ c['plain'] }}</div> -->
                        <div class="msgFrame" [innerHTML]="c['comment']" *ngIf="c['plain'] != 'The user has sent an attachment'"></div>
                        <div class="msgTime"><span class="text-primary mr-2">{{ c['agent'] }}</span>{{ formatTime(c['dt'], 'HH:mm') }}</div>
                    </div>
                </ng-container>
                <!-- <pre>{{ _wa.chatMsgs | json }}</pre> -->
            </ng-container>
            <p id="bottomTgt"></p>
            <div id="google_translate_element" style="position: absolute; z-index: 10000; right: 0"></div>
        </div>

    </div>
    <app-image-modal></app-image-modal>
    <!-- <div class="p-2 footer ">
        <div *ngIf="previewSrc">
            <p>
                <img src="" alt="" height="150" id="previewImg">
                <button mat-icon-button color="warn" (click)="deleteAttach()">
                    <mat-icon>delete</mat-icon>
                </button>
            </p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <textarea #note id='note' rows="1" (keyup)="auto_grow(note)" [readonly]="!loaded"></textarea>
            <button mat-icon-button (click)="submit()" [disabled]="!(msgSend != '' || file) || !loaded">
                    <mat-icon>send</mat-icon>
            </button>

        </div>
    </div> -->